{% extends "layout.html" %}

{% block content %}
<div class="container">
    <h3>About Page</h3>

    <p>
       The idea of this website came to me one day after strugulling to find the exact part of the video
       that I was interested in, I hope that this website can save you some time and be as useful as it's to me.
    </p>

    <p>
        If you have any contributions or ideas that could improve the website feel free to make a 
        pull request on the website's <a href="https://github.com/pedrommaiaa/Ctrl-f_Videos">repository</a>. 
    </p>

    <strong>Info:</strong>
    <p>Email: <a href="mailto:pedroceduca@gmail.com">pedroceduca@gmail.com</a><br>
       Donations: 0x0bDBB78F95e4Bdd568257aA62FA4e155Fa4D93c2</p>

</div>

{% endblock %}